@using System.IO
@model List<Bank>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
            // <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
            // <link rel="stylesheet" href="/css/dataTable.css" />
}


<div class="container-md">
    <div class="card shadow-sm mx-auto" style="max-width:600px">
        <div class="card-header d-flex justify-content-between align-items-center shadow-sm">
            <h6 class="card-title mb-0">Bankalar</h6>

            <a class="btn btn-secondary btn-sm" asp-action="Create">
                <i class="bi bi-plus-circle me-2"></i> Yeni
            </a>


        </div>
        <div class="card-body">
            <table id="bankTable" class="table table-responsive-sm w-100">
                <thead>
                    <tr>
                        <th style="font-size:x-small">#</th>
                        <th></th>
                        <th style="font-size:x-small"> Banka Adı </th>
                        <th style="font-size:x-small">Yaratma Tarihi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var m in Model)
                    {
                        <tr>
                            <td class="vertical-align:middle small">@m.Id</td>
                            <td>
                                @{
                                    var fileName = System.IO.Path.GetFileName(m.IconUrl);
                                }
                                <img src="~/uploads/@fileName" alt="Bank Icon" style="width: 50px; height: auto;" />
                            </td>
                          
                            <td class="vertical-align:middle row-cols-sm">@m.Name</td>
                            <td class="vertical-align:middle row-cols-sm">@m.CreatedDate</td>
                            <td>
                                <div class="btn-group-sm">
                                   
                                    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@m.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form asp-action="Delete" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@m.Id" />
                                        <button type="submit" class="btn btn-sm btn-outline-danger align-middle" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
<br />
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

<script>
    // let table = new DataTable('#bankTable', {
    //     layout: {
    //         topStart: {
    //             pageLength: {
    //                 menu: [5, 10, 25, 50, 100]
    //             }
    //         }
    //     },
    //     //   language: {
    //     //     url:'\lib\jDataTables\tr.json'
    //     // },
    //     column: [
    //         { "id": "Id" },
    //         { "iconUrl": "IconUrl" },
    //         { "name": "Name" }
    //     ]
    // });

    $(document).ready(function () {
        $('#bankTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"

            },
            lengthMenu: [5, 10, 25, 50, 100],
            
        });
        
    });
</script>


  